[user]
	name = Sylvain Lebresne
	email = lebresne@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	hist = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
	fpush = push --force-with-lease --force-if-includes

[rebase]
	updateRefs = true
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[maintenance]
	repo = /home/pcmanus/Git/cndb
[push]
	autoSetupRemote = true
[core]
	excludesfile = /home/pcmanus/.gitignore
